			<div class="table-responsive">
	            <div>
	                <ol class="breadcrumb">
	                  <li class="active">Home</li>
	                </ol>
	            </div>
	            <p>View the top most visited sites by week.  
	            Click on any table heading to sort that column either ascending or descending.
	            </p>
	
	            <div>
	              <form name="period-end-date-form">
	                <label for="repeatSelect">Period End Date: </label>
	                <select 
	                     ng-options="week.endDate for week in $ctrl.weeks" 
	                     ng-model="$ctrl.week"
	                     ng-change="$ctrl.update()">
	                </select>
	              </form>
	            </div>
	            
	            <p/>
	            
	            <table class="table table-hover">
	                <tr>
	                    <th>
	                        <button ng-click="$ctrl.sortBy('url')">URL</button> <span
	                        class="sortorder" ng-show="$ctrl.orderProp === 'url'"
	                        ng-class="{reverse: $ctrl.reverse}"></span>
	                    </th>
	                    <th>
	                        <button ng-click="$ctrl.sortBy('totalVisits')">Total
	                            Visits</button> <span class="sortorder"
	                        ng-show="$ctrl.orderProp === 'totalVisits'" ng-class="{reverse: $ctrl.reverse}"></span>
	                    </th>
	                    <th>
	                        <button ng-click="$ctrl.sortBy('periodEndDate')">Period
	                            End Date</button> <span class="sortorder"
	                        ng-show="$ctrl.orderProp === 'periodEndDate'"
	                        ng-class="{reverse: $ctrl.reverse}"></span>
	                    </th>
	                </tr>
	                <tr ng-repeat="site in $ctrl.sites">
	                    <td><a href="#!/sites/{{site.url}}/history">{{site.url}}</a></td>
	                    <td>{{site.totalVisits}}</td>
	                    <td>{{site.periodEndDate}}</td>
	                </tr>
	            </table>
			</div>



