<!DOCTYPE html>
<html lang="en" ng-app="siteDataApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="content/css/siteranker.css" />
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>
    <script src="site-data-app/site-data-app.module.js"></script>
    <script src="site-data-app/site-data-app.config.js"></script>
    <script src="site-data-app/core/core.module.js"></script>
    <script src="site-data-app/core/site/site-core.module.js"></script>
    <script src="site-data-app/site-ranker/site-ranker.module.js"></script>
    <script src="site-data-app/core/site/site-core.service.js"></script>
    <script src="site-data-app/site-ranker/sites/site-list.controller.js"></script>
    <script src="site-data-app/site-ranker/components/site-list.component.js"></script>
  </head>
  <body>
    <div ng-view></div>
	
  </body>
</html>